.cards {
  max-width: 1176px;
  margin: auto;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 48px 24px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
  text-align: center;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 0.729981 / 1;
  object-fit: cover;
}
