.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  div {
    margin-right: 5px;
  }

  div:nth-child(3) {
    flex-basis: 100%;
    flex-direction: column;
  }

  div:nth-child(2) {
    h2,h3,h4,p {
      color: black;
      font-family: Figtree;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin: 0;
      text-decoration: none;
    }
  }

  img {
    width: 40px;
    height: 40px;
    padding: 2.476px 1.974px 1.99px 1.912px;
  }

  ul {
    margin: 16px 0 0 0;
    padding: 0;
  
  li {
    color: black;
    font-family: Figtree;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
    list-style-type: none;
    padding: 4px 16px 4px 0;
    a {
      text-decoration: none;
    }
  }


}
