main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
  margin: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 512px;
  width: 100vw;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero.block > div{
  margin-top: 10%;
  display: block;
  width: fit-content;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  padding: 32px;
  max-width: 562px;
  margin-left: 6%;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
.hero p {
  font-size: 20px;
  line-height: 28px;
  color: rgb(5, 56, 64);
}