.react-form__sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 38px 38px;
}
.react-form__section {
    width: 30%;
}
h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #002b45;
    font-family: "Outfit Regular", sans-serif;
    transition: all 0.2s ease-in-out 0s;
    text-decoration: none;
}
.form label {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #002b45;
    font-family: "Outfit Regular", sans-serif;
}

.form input {
    background: none;
    align-self: stretch;
    -webkit-box-flex: 1;
    flex-grow: 1;
    color: rgb(0, 43, 69);
    padding-left: 10px;
    font-size: 16px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    font-family: "Outfit Regular", sans-serif;
    border: 1px solid silver;
}
.react-form{
    width: 1100px;
    margin: auto;
}
.form button {
    outline: none;
    font-family: "Outfit Regular", sans-serif;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: auto;
    border-radius: 2px;
    border: none;
    transition: background 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    padding: 0px 20px;
    height: 44px;
    background: rgb(223, 0, 73);
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600 !important;
    text-decoration: none !important;
}
